<!-- templates/partials/playlists_form.html -->

<fieldset>
    <legend>{{ title }}</legend>
    <!-- TITLE -->
    <p>
        <label for='game-title'>Title</label><br>
        <input id='game-title' type='text' name='title' value='{{ game.title }}'/>
    </p>
    
    <!-- DESCRIPTION -->
    <p>
      <label for='description'>Description</label><br>
      <input id='description' type='text' name='description' value='{{ game.description }}' />
    </p>

    <!-- PRICE -->
    <p>
        <label for='description'>Price</label><br>
        <input id='price' type='text' name='price' value='{{ game.price }}' />
    </p>
    
    <!-- VIDEO LINKS -->
    <p>
      <label for='game-videos'>Trailers</label><br>
      <p>Add trailers in the form of 'https://youtube.com/embed/KEY'. Separate with a newline.</p>
      <textarea id='game-videos' name='videos' rows='10'>{{ "\n".join(game.videos) }}</textarea>
    </p>
    </fieldset>
    
    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Game</button>
    </p>